{% extends "base.html" %}
{% block title %} Verification {% endblock %}

{% block header %}
<link rel="stylesheet" href="/static/css/pages/info.css">
<style>html {--main: 355;}</style>
{% endblock %}

{% block content %}
<div class="main-block">
	<div class="title-block">
		<h2 class="error-title">
			Verification failed!
		</h2>
	</div>
	<div class="error-block">
		<h3 class="error-subtitle">{{ error }}</h3>
		<center>
			<li>If this issue persists and you think this is not supposed to happen, please contact us on <a href="/discord">Discord</a>.</li>
	    </center>
	</div>
</div>
{% endblock %}

<style>
	.avatar {
		background-repeat: no-repeat;
        width: 128px;
        height: 128px;
        margin: 0;
        padding: 0;
        position: relative;
        background-size: contain;
	}
</style>